.todo{
    display:flex;
    flex-direction: column;
    background-color:cyan;

}
.todo_container{
    display:flex;
    flex-direction:column;
    padding:0.5rem;
    border:1px solid lightgray;
    height:fit-content;
    margin:20px;
    width:92%;
   background-color: white;
    

    border-radius:0.2rem;

}


.todo_edit{
    
   border:none;
   background-color: blue;
   padding-left:0.7rem;
   padding-right:0.7rem;
   font-weight:bold;
   color:white;
   border-radius:0.2rem;
   margin-right:5px;
}
.todo_delete{
    border:none;
    padding-top:1.5px;
    padding-bottom: 1.5px;
    padding-left:0.5rem;
    padding-right:0.5rem;
    font-weight: bold;
    background-color: red;
    color:white;
    border-radius:0.2rem;
}


.modal_body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    padding:2rem;
}
.modal_body > label{
    font-weight:bolder;
}
.modal_body > input{
    margin-top:5px;
    margin-bottom:5px;
}
.model_close{
    border:none;
    border-radius:0.2rem;
    background-color: red;
    color:white;
    margin-right:5px;
    margin-bottom:5px;
    padding:0rem 1rem;
}
.model_save{
    border:none;
    border-radius:0.2rem;
    background-color: cyan;
    padding:0rem 1rem;
    margin-bottom:5px;
    
}